CHECK PROCESS {{ name }} WITH PIDFILE {{ pidfile }}
  GROUP {{ group }}
{% if alert is defined %}
  ALERT {{ alert }}
{% endif %}
  START PROGRAM = "{{ start_program }}"
  STOP PROGRAM  = "{{ stop_program }}"
{% for test in tests %}
  IF {{ test.condition }}
{% if test.tolerance is defined %}
    {{ test.tolerance }}
{% endif %}
    THEN {{ test.action }}
{% endfor %}
{% if service_timeout_restarts and service_timeout_poll_cycles and service_timeout_action %}
  IF {{ service_timeout_restarts }}
    RESTARTS WITHIN {{ service_timeout_poll_cycles }} CYCLES
    THEN {{ service_timeout_action }}
{% endif %}

